# 複数指定する場合はカンマ区切り（例: URL1,URL2）
WISHLIST_URLS=https://www.amazon.co.jp/hz/wishlist/ls/XXXXXXXXXX
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXXXX/XXXXXXXXXX
DISCORD_ERROR_WEBHOOK_URL=https://discord.com/api/webhooks/XXXXXXXXXX/XXXXXXXXXX
DEBUG=
